/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.import table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.import td, .import th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.import tr:nth-child(even) {
	background-color: #dddddd;
}